:root
{
    --background: #000000;
    --foreground: #ffffff;
}

*
{
    margin: 0;
    padding: 0;
    font-size: 11pt;
}

body
{
    background: var(--background);
    color: var(--foreground);
    line-height: 2rem;
}

.content-main
{
    text-align: left;
    max-width: 60%;
    margin: auto;
    margin-bottom: 6em;
}

.title
{
    color: var(--foreground);
    text-align: left;
    padding-top: 1rem;      
    font-size: 3.4em;
    line-height: 1em;
}

.title::before
{
    font-size: 11pt;
    content: "#+TITLE: ";
    color: #5B6268;
}

.author
{
    color: #f2f2f2;
    text-align: left;
    padding-bottom: 2rem;
    font-size: 1.8em;
}

.author::before
{
    font-size: 11pt;
    content: "#+AUTHOR: ";
    color: #5B6268;
}

.outline-2 h2
{
    color: #ffffff;
    font-size: 1.4em;
}

.outline-2 h2::before
{
    content: "◉ ";
}

.outline-2 p
{
    padding-left: 1em;
}
.outline-3
{
    padding-left: 1em;
}
.outline-3 h3
{
    color: #f8dec0;
    font-size: 1.3em;    
}

.outline-3 h3::before
{
    content: "○ ";
}

.outline-3 p
{
    padding-left: 1em;
}

.outline-4
{
    padding-left: 1em;
}
.outline-4 h4
{
    font-size: 1.2em;
    color: #c6eaff;
}

.outline-4 h4::before
{
    content: "● ";
}

.outline-4 p
{
    padding-left: 1em;
}

a
{
    color: #51afef;
    font-weight: bold;
}

a:hover
{
    background: #51afef;
    color: #282c34;
}

.org-src-container
{
    background: rgba(0,0,0,50%);
    padding: 1em;
    border-radius: 1em;
}

pre.src {
    position: relative;
    overflow: auto;    
}

pre.src {
  position: relative;
  overflow: auto;
}

pre.src:before {
  display: none;
  position: absolute;
  top: -8px;
  right: 12px;
  padding: 3px;
  color: #000;
  background-color: #f2f2f299;
}
pre.src:hover:before { display: inline; margin-top: 1em;}
/* Languages per Org manual */
pre.src-asymptote:before { content: 'Asymptote'; }
pre.src-awk:before { content: 'Awk'; }
pre.src-authinfo::before { content: 'Authinfo'; }
pre.src-C:before { content: 'C'; }
/* pre.src-C++ doesn't work in CSS */
pre.src-clojure:before { content: 'Clojure'; }
pre.src-css:before { content: 'CSS'; }
pre.src-D:before { content: 'D'; }
pre.src-ditaa:before { content: 'ditaa'; }
pre.src-dot:before { content: 'Graphviz'; }
pre.src-calc:before { content: 'Emacs Calc'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-fortran:before { content: 'Fortran'; }
pre.src-gnuplot:before { content: 'gnuplot'; }
pre.src-haskell:before { content: 'Haskell'; }
pre.src-hledger:before { content: 'hledger'; }
pre.src-java:before { content: 'Java'; }
pre.src-js:before { content: 'Javascript'; }
pre.src-latex:before { content: 'LaTeX'; }
pre.src-ledger:before { content: 'Ledger'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-lilypond:before { content: 'Lilypond'; }
pre.src-lua:before { content: 'Lua'; }
pre.src-matlab:before { content: 'MATLAB'; }
pre.src-mscgen:before { content: 'Mscgen'; }
pre.src-ocaml:before { content: 'Objective Caml'; }
pre.src-octave:before { content: 'Octave'; }
pre.src-org:before { content: 'Org mode'; }
pre.src-oz:before { content: 'OZ'; }
pre.src-plantuml:before { content: 'Plantuml'; }
pre.src-processing:before { content: 'Processing.js'; }
pre.src-python:before { content: 'Python'; }
pre.src-R:before { content: 'R'; }
pre.src-ruby:before { content: 'Ruby'; }
pre.src-sass:before { content: 'Sass'; }
pre.src-scheme:before { content: 'Scheme'; }
pre.src-screen:before { content: 'Gnu Screen'; }
pre.src-sed:before { content: 'Sed'; }
pre.src-sh:before { content: 'shell'; }
pre.src-sql:before { content: 'SQL'; }
pre.src-sqlite:before { content: 'SQLite'; }
/* additional languages in org.el's org-babel-load-languages alist */
pre.src-forth:before { content: 'Forth'; }
pre.src-io:before { content: 'IO'; }
pre.src-J:before { content: 'J'; }
pre.src-makefile:before { content: 'Makefile'; }
pre.src-maxima:before { content: 'Maxima'; }
pre.src-perl:before { content: 'Perl'; }
pre.src-picolisp:before { content: 'Pico Lisp'; }
pre.src-scala:before { content: 'Scala'; }
pre.src-shell:before { content: 'Shell Script'; }
pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
/* additional language identifiers per \"defun org-babel-execute\"
     in ob-*.el */
pre.src-cpp:before  { content: 'C++'; }
pre.src-abc:before  { content: 'ABC'; }
pre.src-coq:before  { content: 'Coq'; }
pre.src-groovy:before  { content: 'Groovy'; }
/* additional language identifiers from org-babel-shell-names in
   ob-shell.el: ob-shell is the only babel language using a lambda to put
   the execution function name together. */
pre.src-bash:before  { content: 'bash'; }
pre.src-csh:before  { content: 'csh'; }
pre.src-ash:before  { content: 'ash'; }
pre.src-dash:before  { content: 'dash'; }
pre.src-ksh:before  { content: 'ksh'; }
pre.src-mksh:before  { content: 'mksh'; }
pre.src-posh:before  { content: 'posh'; }
/* Additional Emacs modes also supported by the LaTeX listings package */
pre.src-ada:before { content: 'Ada'; }
pre.src-asm:before { content: 'Assembler'; }
pre.src-caml:before { content: 'Caml'; }
pre.src-delphi:before { content: 'Delphi'; }
pre.src-html:before { content: 'HTML'; }
pre.src-idl:before { content: 'IDL'; }
pre.src-mercury:before { content: 'Mercury'; }
pre.src-metapost:before { content: 'MetaPost'; }
pre.src-modula-2:before { content: 'Modula-2'; }
pre.src-pascal:before { content: 'Pascal'; }
pre.src-ps:before { content: 'PostScript'; }
pre.src-prolog:before { content: 'Prolog'; }
pre.src-simula:before { content: 'Simula'; }
pre.src-tcl:before { content: 'tcl'; }
pre.src-tex:before { content: 'TeX'; }
pre.src-plain-tex:before { content: 'Plain TeX'; }
pre.src-verilog:before { content: 'Verilog'; }
pre.src-vhdl:before { content: 'VHDL'; }
pre.src-xml:before { content: 'XML'; }
pre.src-nxml:before { content: 'XML'; }
/* add a generic configuration mode; LaTeX export needs an additional
   (add-to-list 'org-latex-listings-langs '(conf \" \")) in .emacs */
pre.src-conf:before { content: 'Configuration File'; }

#table-of-contents h2
{
    color: #ffffff;
    font-size: 1.4em;
}

#table-of-contents h2::before
{
    content: "◉ ";
}
#table-of-contents h2::after
{
    text-align: right;
    content: "  :TOC:";
    color: #e5cfef;
}

.tag
{
    color: #e5cfef;
}

.tag::before
{
    content: ":";
}

.tag::after
{
    content: ":";
}

#table-of-contents #text-table-of-contents ul
{
    padding-left: 1rem;
    list-style-type: "•";
    list-style-position: inside;
}

#table-of-contents #text-table-of-contents ul li
{
    padding-left: 1rem;
}

#table-of-contents #text-table-of-contents ul li ul li
{
    padding-left: 1rem;
}

#table-of-contents #text-table-of-contents ul li ul li ul li
{
    padding-left: 1rem;
}

table {
    border: 1pt solid;
    width: 100%;
}

table tr td,
table tr th
{
    border: 1pt solid;
    padding: 0.1rem;
}

.status
{
    padding: 0.5em;
    margin-top: 1em;
    border-top: 0.2em solid;
    text-align: center;
}

code
{
    color: #da8548;
}

ul
{
    padding-left: 2rem;
}

.modeline
{
    font-family: monospace;
    background: #323232;	     
    position: fixed;
    display: flex;
    bottom: 1em;
    right: 0;
    left: 0;
    border: 1px solid;
    align-items: center;
    height: 1em;
    font-size: 1.5em;
    line-height: 1em;
    padding: 0 0.5rem;
}

.modeline-buffer-info,
.modeline-modes
{
    display: flex;
}

.modeline-title
{
    font-weight: bold;
    margin-left: 1em;
}

.modeline-title:hover,
.modeline-encoding:hover,
.modeline-end-of-line:hover,
.modeline-document-writable:hover,
.modeline-document-modified:hover,
.modeline-document-current-directory:hover,
.modeline-html-mode:hover
{
    background: #34cfff;
    color: #323232;
}

.modeline-space
{
    width: 1em;
}

.minibuffer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background: var(--background);
    display: flex;
    align-items: center;
}

.TODO,
.todo
{
    color:#98be65;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    body
    {
        line-height: 2.5rem;
    }
    .content-main
    {
        max-width: 95%;
    }

    #table-of-contents #text-table-of-contents ul
    {
        padding-left: 1rem;
        list-style-type: circle;
    }

    #table-of-contents #text-table-of-contents ul li
    {
        padding-left: 0;
    }

    #table-of-contents #text-table-of-contents ul li ul li
    {
        padding-left: 0;
    }

    #table-of-contents #text-table-of-contents ul li ul li ul li
    {
        padding-left: 0;
    }
}

@media screen and (max-width: 400px) {
    *
    {
        font-size:10pt;
    }
    .modeline-buffer-info,
    .modeline-modes
    {
        display: none;
    }
}
@media screen and (max-width: 250px) {
    *
    {
        font-size: 8pt;
    }
}

.show > *
{
    display: none;
}
